.selection-menu-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 30px;
    max-height: 30px;

    .selection-menu {
        display: flex;
        justify-content: center;
        width: fit-content;
        color: #261268;
        height: 30px;
        border-radius: 8px;
    }

    .filter-indicator {
        color: #261268;
        font-weight: 500;
        margin: 12px;
    }

    .dropdown-menu {
        margin: 4px;
        padding: 8px;
        background-color: white;
        cursor: pointer;

        img {
            background-color: transparent;
            margin-left: 4px;
            margin-top: 8px;
            height: 4px;
            width: auto;
        }
    }

    .dropdown-items-container {
        margin-left: 4px;
        padding-left: 8px;
        margin-top: -4px;
        background-color: white;
        z-index: 100;
        position: absolute;
        font-size: 90%;

        .dropdown-item {
            margin: 2px;
            padding-right: 8px;
            border-bottom: 1px solid #26126870;
            cursor: pointer;
        }

        .up-arrow-container {
            display: flex;
            justify-content: center;

            img {
                -moz-transform: scaleY(-1);
                -o-transform: scaleY(-1);
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
                background-color: transparent;
                margin: 4px;
                height: 4px;
                width: auto;
            }
        }
    }

}