.column-addJob {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  width: 90%;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(221, 170, 255);
  color: rgb(132, 100, 239);
  text-align: center;
  padding-top: 3%;
  cursor: pointer;

  .button-inside {
    margin-top: -6px;
  }
}

.column-addJob-form {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  text-align: center;
  width: 90%;
  height: 78px;
  color: rgb(150, 150, 150);
  font-weight: 600;


  .input-add-job {
    border: none;
    outline: none;
    width: 85%;
    margin-left: 15px;
  }

  >div {
    margin-top: 13px;
  }

  .column-addJob-form-buttons-container {
    display: flex;
    justify-content: space-between;

    .column-addJob-form-button {
      border: none;
      background-color: transparent;
      font-size: 18px;
      color: rgb(132, 100, 239);
      cursor: pointer;
      outline: none;

      &.--addJob {
        font-weight: bold;
        color: rgb(132, 100, 239);
        background-color: transparent;
      }

      &.--button-disabled {
        opacity: 0.5;
        cursor: none;
        pointer-events: none;
      }
    }
  }


}