@import "../App/style.scss";

.reviews-container {
    color: $text_color;
    height: 100%;
    padding-top: 60px;

    .title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            font-size: 24pt;
            margin-bottom: 0;
        }
    }

    .company-cards-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.bottom-fixed-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
}