.metrics_global_feature_area {
    background-color: white;
    color: #261268;
    padding-top: 32px;
    min-height: 600px;
    height: auto;

    .title {
        text-align: center;
        margin-bottom: 25px;

        h2 {
            font-size: 24pt;
            margin-bottom: 0;
        }
    }

    .small-text {
        margin-left: 10%;
        margin-right: 10%;

        .bold {
            font-weight: bold;
        }
    }

    .features {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        margin-right: 30px;
        overflow-y: hidden;

        .feature {
            margin: 2.08%;
            background: white;
            border-radius: 20px;
            padding: 30px;
            padding-top: 50px;
            min-width: 100px;
            width: 300px;
            flex-grow: 1;
            text-align: center;

            img {
                width: 60%;
                max-width: 180px;
            }

            p {
                max-width: 380px;
                margin: auto;
            }

            a {
                color: #261268;
                text-decoration: none;
                ;
            }
        }
    }
}

.global_graph-container-dark-background {
    min-height: 700px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
    overflow-y: hidden;

    .graph {
        margin-top: 100px;
        height: 500px;
        width: 800px;
        background-color: white;
        border-radius: 20px;
    }
}

.global_graph-container-light-background {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    overflow-y: hidden;

    .graph-dark {
        margin-top: 100px;
        height: 500px;
        width: 800px;
        background-color: rgb(92, 39, 195);
        border-radius: 20px;
    }
}

.selection-menu-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 30px;
    max-height: 30px;

    .selection-menu {
        display: flex;
        justify-content: center;
        width: fit-content;
        color: #261268;
        height: 30px;
        border-radius: 8px;
    }

    .filter-indicator {
        color: white;
        font-weight: 500;
        margin: 12px;
    }

    .dropdown-menu {
        margin: 4px;
        padding: 8px;
        background-color: white;
        cursor: pointer;

        img {
            background-color: transparent;
            margin-left: 4px;
            margin-top: 8px;
            height: 4px;
            width: auto;
        }
    }

    .dropdown-items-container {
        margin-left: 4px;
        padding-left: 8px;
        margin-top: -4px;
        background-color: white;
        z-index: 100;
        position: absolute;
        font-size: 90%;

        .dropdown-item {
            margin: 2px;
            padding-right: 8px;
            border-bottom: 1px solid #26126870;
            cursor: pointer;
        }

        .up-arrow-container {
            display: flex;
            justify-content: center;

            img {
                -moz-transform: scaleY(-1);
                -o-transform: scaleY(-1);
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
                background-color: transparent;
                margin: 4px;
                height: 4px;
                width: auto;
            }
        }
    }

}