.column-container {
  background-color: rgb(229,229,232);
  width: 24%;
  margin: 6px;
  border-radius: 0px;
  overflow-x: hidden;
  
  .column-header {
    margin-top: 15px;
    font-size: 18px;
    color: rgb(129,131,133);
    font-family: sans-serif;
    display: flex;
    justify-content: center ;
  
    &.column-icon {
      margin-right: 25%
    }
    &.column-title {
      margin-left: 0%;
    }
    &.column-details {
      margin-left: 25%;
    }
  }
}