.column-container {
  background-color: #e7e5e8;
  width: 24%;
  margin: 6px;
  border-radius: 6px;

  .column-title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
}