.reviews-container {
    background-color: white;
    color: #261268;
    height: 100%;

    .title {
        text-align: center;
        margin-bottom: 25px;

        h2 {
            font-size: 24pt;
            margin-bottom: 0;
        }
    }
}