.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.7);
  z-index: 10;

  .modal-main {
    position: fixed;
    background: rgb(255, 255, 255);
    width: 600px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }

  .modal-header-container {
    margin-left: 32px;
    margin-right: 32px;
    
    .modal-header {
      border-bottom: 1px solid rgba(38, 18, 104, 0.4);
      height: 100px;
      color: #261268;
      display: flex; 
      justify-content: space-between;
      overflow: hidden;

      .job-card-info-container {
        display: flex;
        justify-content: start;

        .modal-company-icon {
          position:relative;
          margin-top: 26px;
          width: 60px;
          height: 60px;
          border-radius: 4px;
          background-color: white; 
          display: flex;
          align-items: center;

          img {
            width: 60px;
            height: auto;
            border-radius: 4px;
          }
        }

        .header-text {
          margin-left: 16px;
          display: table;

          &.company-name {
            margin-left: 4px;
            margin-top: 30px;
            font-size: 180%;
            height: auto;
            border: none;
          }

          &.job-title {
            margin-top: 0px;
            margin-left: 0px;
            font-size: 100%;
            height: auto;
            border: none;
          }
        }
      }


      &.options {
        font-size: 90%;
        margin-top: 24px;
        border: none;

        img {
          height: 16px;
          width: auto;
          margin-right: 8px;
        }

        .current-status {
          width: 160px;
          height: 28px;
          display: flex;
          justify-content: center;
          color: white;
          background-color:rgba(132, 100, 239, 1);
          text-align: center;
          margin-top: 28px;
          padding-top: 8px;
          cursor: pointer;

          img {
            height: 16px;
            width: auto;
            margin-top: 2px;
          }

          p {
            margin-top: 0px;
          }
        }

        .options-container {
          margin-top: 65px;
          width: 142px;
          height: 288px;
          position: absolute;
          font-family: exo;
          padding-left: 16px;
          background-color: white;
          border: 1px solid rgb(252, 252, 252);
          z-index: 100;

          img {
            cursor: pointer;
          }

          .options {
            height: 32px;
            margin-left: 16px;
            padding-bottom: 10px;
            cursor: pointer;

            &:hover {
              padding-left: 2px;
            }

            p {
              margin-left: 10px;
              padding-top: 10px;
              border-top: 0.5px solid rgba(132, 100, 239, 0.4);
              margin-top: -32px;
            }

            img {
              padding-top: 8px;
              margin-left: -18px;
              cursor: pointer;
            }
          }

          .rejected-option {
            padding-top: 10px;

            p {
              padding-top: 12px;
              border: none;
            }

            img {
              padding-left: 4px;
              margin-top: -8px;
              height: 10px;
              width: 10px;
            }
          }

          .ongoing-option {
            padding-bottom: 0px;
            
            p {
              border: none;
              margin-top: -32px;
              padding-bottom: 10px;
            }

            img {
              padding-top: 10px;
              height: 16px;
              width: 16px;
            }
          }

          .delete-option {
            height: 32px;
            margin-top: -4px;
            margin-left: -16px;
            width: 160px;
            border-top: 0.5px solid rgba(132, 100, 239, 0.6);
            padding-top: 12px;
            cursor: pointer;

            &:hover {
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
              width: 158px;
              padding-left: 2px;
            }

            p {
              margin-top: -22px;
              margin-left: 42px;
            }

            img {
              height: 16px;
              width: auto;
              margin-left: 14px;
              cursor: pointer;
            }
          }


          .unable {
            color:rgba(32,32,32,0.6);
            height: 32px;
            padding-top: 8px;

            img {
              padding-right: 6px;
              height: 12px;
              width: 12px;
              cursor: default;
            }
          }

          .explanation{
            padding-left: 16px;
            margin-left: -16px;
            padding-top: 10px;
            font-size: 90%;
            height: 26px;
            border-bottom: 0.5px solid rgba(132, 100, 239, 0.6);
            font-weight: 500;

          }
        }
      }
    }
  }

  .modal-body {
    height: 418px;
    display: flex;
    justify-content: flex-start;
    color: #261268;

    &.navigation {
      width: 66px;
      height: 408px;
      padding-top: 18px;
      margin-left: 18px;
      display: table;
      text-align: right;
      border-right: 1px solid rgba(38, 18, 104, 0.4); 

      &.subheaders {
        border: none;
        padding-top: 0px;
        padding-bottom: 20px;
        font-size: 90%;
        font-weight: 400;
        height: auto;
        margin-top: 0px;
        margin-right: 8px;
      }
    }

    &.main {
      font-size: 90%;
      width: 390px;
      margin-top: 20px;
      margin-left: 8px;
      display: table;
      text-align: start;

      &.data {
        padding-bottom: 22px;
        margin-top: 0px;
        height: auto;
        p {
          margin-top: 0px;
        }
      }

      .notes-showing {
        height: fit-content;
        height: -moz-fit-content;
        max-height: 208px;
        overflow-x: hidden;
        width: 390px;

        &.--short {
          max-height: 136px;
        }

        .note-container {
          display: flex;
          justify-content: start;
          height: auto;
          border-bottom: 1px solid rgba(32, 32, 32, 0.1);

          .text-container {
            width: 350px;

            .date {
              text-align: end;
              margin-top: 0px;
              margin-right: 8px;
              font-size: 90%;
              color: rgba(0, 0, 0, 0.4);
            }

            .note {
              margin-top: 8px;
              width: 340px;
              margin-bottom: 0px;
            }
          }

          .button-container-parent {
            display: flex;
            align-items: center;

            .button-container-child {
              width: 12px;
              margin-top: 4px;
              height: auto;
              background: transparent;

              button{
                background: transparent;
                border: none;
              }

              img {
                width: auto;
                height: 12px;
                margin: 0px;
                padding: 0px;
                background: transparent;
              }
            }
          }
        }
      }

      .add-note-area {
        width: 356px;
        margin-bottom: 2px;

        textarea {
          font-family: exo;
          font-size: 90%;
          height: 60px;
          max-width: 356px;
          max-height: 60px; 
          min-width: 356px;
          min-height: 24px; 
          border: 1px solid rgba(132, 100, 239, 1);
          border-radius: 4px;
          padding: 8px;

          &.--height-min {
            height: 16px;
            min-height: 16px;
            max-height: 16px;
          }
        }

        .notepad-buttons {
          display: flex; 
          justify-content: flex-end;
          width: 356px;
          height: 28px;

          button{
            font-family: exo;
            color: white;
            width: auto;
            height: 24px;
            padding: 4px;
            padding-right: 8px;
            padding-left: 8px;
            border: none;
            border-radius: 4px;
            margin-left: 4px;
          }

          &.save {
            position: relative;
            margin-left: 8px;
            background-color: rgba(132, 100, 239, 1);
            font-weight: lighter;
          }

          &.cancel {
            margin-left: -32px;
            position: relative;
            color: rgba(132, 100, 239, 0.6);
            font-weight: bold;
            font-size: 110%;
            background: transparent;
          }
        }
      }
    }
  }
}