.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.7);
  z-index: 10;

  .modal-main {
    position: fixed;
    background: rgb(255, 255, 255);
    width: 600px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 1px rgba(0, 0, 0, 0.2);
  }

  .modal-header {
    border-bottom: 1px solid rgba(197, 197, 197, 0.8);
    height: 100px;
    color: black;
    display: flex; 
    justify-content: flex-start;

    &.company-name {
      margin-left: 16px;
      margin-top: 30px;
      font-size: 180%;
      height: auto;
      border: none;
    }

    &.job-title {
      margin-left: 16px;
      margin-top: 0px;
      font-size: 130%;
      height: auto;
      border: none;
      display: none;
    }

    &.close {
      margin-left: 304px;
      margin-top: 8px;
      height: auto;
      border: none;
    }
  }

  .modal-body {
    height: 418px;
    display: flex;
    justify-content: flex-start;
    color: black;

    &.navigation {
      //border-right: 1px solid rgba(197, 197, 197, 0.8);
      width: 100px;
      margin-top: 40px;//margin-top: 30px;
      margin-left: 20px;
      display: table;
      text-align: left;//text-align: end;

      &.subheaders {
        border: none;
        padding-bottom: 20px;
        font-size: 100%;
        height: auto;
        margin-top: 0px;
      }
    }

    &.main {
      font-size: 90%;
      width: 300px;
      margin-top: 44px;//margin-top: 30px;
      margin-left: 0px;
      display: table;
      text-align: start;//text-align: end;

      &.data {
        padding-bottom: 25px;
        margin-top: 0px;
        height: auto;

        p {
          margin-top: 0px;
        }

        .notepad-buttons {
          display: flex; 
          justify-content: end;
        }

        textarea {
          font-family: exo;
          font-size: 90%;
          width: 290px;
          height: 100px;
        }
      }
    }

    .modal-company-icon {
      margin-top: 26px;
      width: 60px;
      height: 60px;
      border-radius: 4px;
      background-color: white;

      img {
        margin-top: 5px;
        margin-left: 5px;
        width: 50px;
        height: 50px;
        border-radius: 4px;
      }
    }
  }
}