.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.7);
  z-index: 10;

  .modal-main {
    position: fixed;
    background: rgb(255, 255, 255);
    width: 600px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 1px rgba(0, 0, 0, 0.2);
  }

  .modal-header {
    border-bottom: 1px solid rgba(197, 197, 197, 0.8);
    height: 100px;
    color: #261268;
    display: flex; 
    justify-content: space-between;

    &.company-name {
      margin-left: 16px;
      margin-top: 30px;
      font-size: 180%;
      height: auto;
      border: none;
    }

    &.job-title {
      margin-left: 16px;
      margin-top: 0px;
      font-size: 130%;
      height: auto;
      border: none;
      display: none;
    }

    &.close {
      margin-left: 304px;
      margin-top: 8px;
      height: auto;
      border: none;
    }

    &.delete-button {
      margin-right: 30px;
      margin-top: 60px;
      border: none;

      button{
        background-color: #261268;
        color: white;
        border-radius: 8px;
        height: 24px;
        font-family: exo;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .modal-body {
    height: 418px;
    display: flex;
    justify-content: flex-start;
    color: #261268;

    &.navigation {
      width: 100px;
      margin-top: 40px;
      margin-left: 20px;
      display: table;
      text-align: left;

      &.subheaders {
        border: none;
        padding-bottom: 20px;
        font-size: 100%;
        height: auto;
        margin-top: 0px;
      }
    }

    &.main {
      font-size: 90%;
      width: 390px;
      margin-top: 44px;//margin-top: 30px;
      margin-left: 0px;
      display: table;
      text-align: start;//text-align: end;

      .notesShowing {
        height: fit-content;
        height: -moz-fit-content;
        max-height: 180px;
        overflow-x: hidden;
        width: 390px;

        .note-container {
          display: flex;
          justify-content: start;
          width: 390px;
          border-bottom: 1px solid rgba(32, 32, 32, 0.1);

          .text-container {
            width: 350px;

            .date {
              text-align: end;
              margin-top: 0px;
              margin-right: 8px;
              font-size: 90%;
              color: rgba(0, 0, 0, 0.4);
            }

            .note {
              margin-top: 8px;
              margin-bottom: 0px;
            }
          }

          .button-container {
            width: 12px;
            margin-left: 4px;
            margin-top: 8px;
            background: transparent;

            button{
              background: transparent;
              border: none;

            }

            img {
              width: 16px;
              height: 16px;
              margin: 0px;
              padding: 0px;
              background: transparent;
            }
          }
        }
      }

      &.data {
        padding-bottom: 25px;
        margin-top: 0px;
        height: auto;

        p {
          margin-top: 0px;
        }

        .notepad-buttons {
          display: flex; 
          justify-content: flex-end;
          margin-top: 8px;

          button{
            font-family: exo;
            background-color: rgb(92, 39, 195);
            color: white;
            font-weight: lighter;
            border-radius: 8px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          }

          &.textarea {
            margin-right: 44px;

          button{
            font-family: exo;
            background-color: rgb(92, 39, 195);
            color: white;
            font-weight: lighter;
            border-radius: 8px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          }
          }
        }

        textarea {
          font-family: exo;
          font-size: 90%;
          width: 340px;
          height: 100px;
          max-width: 340px;
          max-height: 100px; 
          min-width: 340px;
          min-height: 100px; 
        }
      }
    }

    .modal-company-icon {
      position:absolute;
      margin-top: 26px;
      width: 60px;
      height: 60px;
      margin-left: -100px;
      border-radius: 4px;
      background-color: white;

      img {
        margin-top: 5px;
        margin-left: 5px;
        width: 50px;
        height: 50px;
        border-radius: 4px;
      }
    }
  }
}