@import "../../App/style.scss";

.poll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.7);
  z-index: 1010;

  .poll-box-main {
    position: fixed;
    background: rgb(255, 255, 255);
    width: 600px;
    height: fit-content;
    max-height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;

    .poll-box-header-container {
      margin-left: 24px;
      margin-right: 24px;
      border-bottom: 1px solid rgba(38, 18, 104, 0.4);
      height: 100px;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;

      .poll-box-header {
        font-size: 180%;
        height: fit-content;
      }
    }

    .poll-box-body {
      margin: 24px;
      height: fit-content;
      max-height: 410px;
      overflow-x: hidden;

      .poll-card {
        margin-left: 5%;
        margin-bottom: 8px;
        padding: 2%;
        width: 86%;
        border: 1px solid rgba(167, 167, 167, 0.8);
        box-shadow: 1px 2px rgba(167, 167, 167, 0.2);
        border-radius: 4px;
        height: auto;

        .question {
          font-size: 100%;
          font-weight: 400;
          margin-bottom: 16px;
        }

        .date {
          display: flex;
          justify-content: flex-end;
          color: rgba(134, 134, 134, 0.8);
          font-size: 80%;
        }

        .answer {
          margin-bottom: 8px;
          font-size: 90%;
        }

        .button-container {
          display: flex;
          justify-content: flex-end;

          .submit {
            background-color: black;
            color: white;
            font-size: 90%;
            border-radius: 4px;
            padding: 4px 8px 4px 8px;
            cursor: pointer;
          }
        }

        .message {
          display: flex;
          justify-content: center;
          color: rgba(134, 134, 134, 0.8);
          font-size: 90%;
        }
      }
    }
  }
}