@import url('https://fonts.googleapis.com/css?family=Exo');


body {
  font-family: Exo;
  //color: rgb(38, 18, 104);
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f6fa;
}

.main-container {
  height: 100%;
  width: 100%;
}