.reviews-container {
    color: #261268;
    height: 100%;
    padding-top: 100px;

    .title {
        text-align: center;
        margin-bottom: 50px;
        color: #261268;

        h2 {
            color: #261268;
            font-size: 24pt;
            margin-bottom: 0;
        }
    }

    .company-cards-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.bottom-fixed-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
}