@import "../../App/style.scss";

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 75px;
  background-color: white;
  background-size: 100% 100%;
  overflow-y: hidden;
  z-index: 0;

  a {
    text-decoration: none;
  }

  .footer-content {
    font-size: 10pt;

    &.footer-social-links {
      text-align: end;

      span {
        margin-left: 20px;
      }
    }

    &.footer-inside-links {
      text-align: start;

      span {
        margin-right: 20px;
      }
    }

    &.footer-notation {
      text-align: center;
    }
  }

}