@import "../../App/style.scss";

.sign_up-background {
    background-color: white;
    height: 16vh;
}


.sign_up-vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 200px 0;

    .sign_up-container {
        width: calc(100vw - 20px);

        .sign-up-big-form-container {
            margin: auto;
            min-width: 300px;
            max-width: 400px;
            height: fit-content;
            border: 1px solid $gray_text_color;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: white;
            padding: 40px 50px;

            .content-container {
                width: 100%;

                h1 {
                    font-size: 28px;
                    line-height: 36px;
                    text-align: center;
                    margin-bottom: 24px;
                    font-weight: lighter;
                }

                h2 {
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 15px;
                    font-weight: 300;
                }

                .explanation {
                    font-size: 11px;
                    line-height: 12px;
                    margin-bottom: 10px;
                    color: $text_color;

                    a {
                        color: $text_color;
                        text-decoration: underline;
                    }
                }

                .existing-account-question {
                    text-align: center;
                    font-size: 16px;
                    line-height: 20px;
                    margin-top: 60px;
                    font-weight: 300;
                    color: $gray_text_color;
                }

                .right-align-container {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }

                .center-image {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 12px 0px;

                    img {
                        width: 240px;
                        height: auto;
                    }
                }
            }

            .separator {
                font-style: italic;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $gray_text_color;
                width: 100%;
                height: 20px;
                font-size: 16px;
                font-weight: 300;
                margin-bottom: 24px;

                .line {
                    height: 2px;
                    width: 20px;
                    margin: 0px 12px;
                    background-color: $gray_text_color
                }
            }

            .ant-checkbox-inner,
            .ant-checkbox-checked .ant-checkbox-inner {
                width: 20px;
                height: 20px;
                border-radius: 2px;
                border: none;
                background-color: $line_color;
                color: $gray_text_color !important;
            }

            .ant-checkbox-checked .ant-checkbox-inner::after {
                left: 30%;
                border: 2px solid $gray_text_color;
                border-top: 0;
                border-left: 0;
                -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
                -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
            }

            .anticon {
                font-size: 24px;
                line-height: 24px !important;
                height: 24px;
            }

            .ant-btn-primary {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 24px;
                font-size: 16px;
            }

            .ant-input {
                font-size: 16px;
                line-height: 20px;
                font-weight: 300;
                border-color: $gray_text_color !important;
            }

        }
    }

    .sign_up-form-container {
        margin: auto;
        width: 320px;
        height: fit-content;
        border: 1px solid rgba(150, 150, 150, 0.4);
        background-color: white;
        padding: 24px 24px 12px 24px;

        .content-container {

            h1 {
                color: rgb(0, 0, 0);
                text-align: center;
            }
        }

        .social-buttons-container {
            padding-top: 8px;
            display: flex;
            justify-content: center;
            cursor: default;

            .social-buttons-google {
                border: none;
                width: 288px;
                border-bottom: 1px solid rgba(150, 150, 150, 0.4);
                padding: 0 0 8px 0;
                background-color: white;
                cursor: default;
                color: $text_color;
                font-size: 12pt;

                img {
                    cursor: pointer;
                    width: 186px;
                    height: 42px;
                }
            }
        }

        .separator {
            height: 4px;
            width: 272px;
            display: flex;
            justify-content: center;
            margin: 20px 0px 0px 0px;
            border-top: 1px solid rgba(150, 150, 150, 0.8);
        }

        .email-button-container {
            padding: 8px 0 32px 0;
            display: flex;
            justify-content: center;

            .email-button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
                border: 1px solid rgba(200, 200, 200, 0.2);
                border-radius: 4px;
                box-shadow: 0px 1px 0px 0 rgba(110, 110, 110, 0.4);
                width: 184px;
                height: 36px;
                background-color: white;
                text-align: center;
                font-weight: 500;
                font-size: 95%;
                color: rgba(100, 100, 100, 0.9);
                cursor: pointer;
            }
        }

        .levels {
            text-align: center;

            .level-title {
                font-size: 120%;
                padding: 16px;
            }

            .level-body {
                font-size: 90%;
                padding: 8px;
            }
        }

    }

}


.bottom-fixed-footer-sign_up {
    position: fixed;
    bottom: 0%;
    width: 100%;
}