.column-container {
  margin: 0 auto;
  width: 100%;
  max-width: 330px;
  min-width: 240px;

  .column-header-container {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;

    &.--column-active {
      background-color: rgba(228, 220, 255, 1);
    }

    &.--column-dropable {
      background-color: rgba(228, 220, 255, 0.6);
    }

    &.no-card {
      border-radius: 4px;
    }

    &.add-job-height {
      height: 200px;
    }

    .column-header {
      font-size: 18px;
      font-weight: 600;
      display: flex;
      justify-content: center;

      &.column-icon {
        margin-top: 30px;

        img {
          height: 20px;
          width: auto;
        }
      }

      &.column-title {
        margin-top: 30px;
        margin-left: 8px;
      }
    }
  }

  .column-card-container {
    max-height: 65.4%;
    overflow-x: hidden;
    height: fit-content;
    height: -moz-fit-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &.--column-active {
      background-color: rgba(228, 220, 255, 1);
    }

    &.--column-dropable {
      background-color: rgba(228, 220, 255, 0.6);
    }

    &.middle {
      max-height: 57%;
    }

    &.short {
      max-height: 57.4%;
    }

    &.shortest {
      max-height: 49%;
    }
  }

  .column-indicator-container {
    text-align: center;
    background-color: #ecebf1;
    font-size: 18px;
    font-weight: 300;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 8px;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    img {
      width: 12px;
      height: 6px;
      margin-bottom: 4px;
    }

    .column-indicator-details {
      font-size: 12px;
      font-weight: normal;
    }

    &.--column-active {
      background-color: rgba(228, 220, 255, 1);
    }

    &.--column-dropable {
      background-color: rgba(228, 220, 255, 0.6);
    }

    &.ongoing-indicator {
      padding-bottom: 15px;
    }

    &.rejected-indicator {
      padding-bottom: 15px;
      margin-top: -2px;
    }

    .cards-switch-button {
      border: 0;
    }
  }
}