.reviews-container {
    width: 95%;
    margin-left: 5%;
    padding-right: 5%;
    overflow-x: hidden;

    .review-container {
        width: 100%;
        height: fit-content;
        height: -moz-fit-content;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid rgba(100, 100, 100, 0.5);
        box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.4);

        .review-header {
            padding: 24px;
            border-bottom: 1px solid rgba(100, 100, 100, 0.5);

            .reviewer-name {
                font-size: 120%;
                font-weight: 500;
            }

            .date {
                width: 100%;
                font-size: 90%;
                color: rgba(116, 116, 116, 0.4);
                text-align: end;
            }
        }

        .review-body {
            padding: 24px;

            .review-body-company {
                margin: 0 0 16px 0;

                .body-company-title {
                    font-weight: 450;
                    font-size: 110%;
                    margin: 12px 0px 8px 0px;
                }

                .body-company-sub-container {
                    display: flex;
                    justify-content: flex-start;

                    .body-company-data {
                        min-width: 360px;
                        max-width: 360px;

                        .employment-status {

                            .info {
                                margin-left: 24px;
                            }
                        }

                        label {
                            font-weight: 450;
                            margin: 10px 0px 6px 8px;
                        }

                        .company-review-text-container {
                            margin-top: 12px;

                            .company-review-text {
                                margin-left: 24px;
                            }
                        }
                    }

                    .body-company-ratings {
                        display: flex;
                        justify-content: flex-start;
                        min-width: 312px;
                        max-width: 312px;

                        label {
                            font-weight: 450;
                            margin: 10px 16px 6px 8px;
                        }

                    }

                }
            }

            .review-body-interview {

                .body-interview-title {
                    font-weight: 450;
                    font-size: 110%;
                    margin: 12px 0px 8px 0px;
                }

                .interview-ratings {
                    display: flex;
                    justify-content: flex-start;

                    .overall-experience-container {
                        width: 420px;
                        min-width: 360px;
                        max-width: 360px;

                        .overall-experience {
                            margin-left: 24px;
                        }
                    }

                    .difficulty-container {
                        display: flex;
                        justify-content: flex-start;
                        min-width: 312px;
                        max-width: 312px;
                    }

                    label {
                        font-weight: 450;
                        margin: 10px 4px 6px 8px;
                    }
                }

                .interview-experience {
                    margin-top: 12px;

                    label {
                        font-weight: 450;
                        margin: 10px 0px 6px 8px;
                    }

                    .interview-notes {
                        margin-left: 24px;
                    }
                }
            }
        }
    }
}

.not-specified {
    font-size: 90%;
    color: rgba(116, 116, 116, 0.4);
    font-style: italic;
    margin-left: 24px
}

.filter {
    margin-left: 6.8%;
    margin-bottom: 8px;

    label {
        margin-right: 4px;
    }
}