.header-container {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: #a50002;
  padding-top: 10px;
  padding-right: 20px;

  .header-icon {
    width: 35px;
    margin: 0 15px;
    border: 1px solid black;
    cursor: pointer;

    &.icon-profile {
      background-image: url('../../assets/icons/usericon.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}