.header-container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);

  .header-left-side-items {
    display: flex;
  }
  .header-right-side-items {
    display: flex;
  }

  .search-box {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 420px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    display: flex;
  }

  .search-input {
    color:rgba(255, 255, 255, 0.8);
    width: 370px;
    background-color: transparent;
    font-size: 18px;
    border: none;
    height: 24px;
    margin: 2px;
    cursor: text;
  }

  .jobhax-logo-container {
    margin: 6px 20px;

    .jobhax-logo {
      width: 28px;
      height: 28px;
      cursor: pointer;
      background-image: url('../../assets/icons/JobHax-logo-white.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .header-icon {
    width: 20px;
    margin: 0 15px;
    cursor: pointer;

    &.general {
      margin-top: 13px;
      margin-bottom: 13px;
    }

    &.search-icon {
      margin-top: 7px;
      margin-bottom: 7px;
      width: 14px;
    }

    &.user-icon {
      margin-top: 6px;
      margin-bottom: 6px;
      margin-right: 20px;

      img {
          width: 28px;
          height: 28px;
        }
    }

    img {
      height: 14px;
    }
  }
}
