@import "../../App/style.scss";

.statistics-container {
    display: table;
    margin-top: 10px;

    .authorization-stat-container {
        display: flex;
        justify-content: flex-start;
        border: 1px solid red;
    }
}

.ant-statistic-content {
    font-size: 14px;
    width: 80px;
    margin: 0px 8px 0px -12px;
}

.ant-statistic-content-value-decimal {
    font-size: 12px;
}

.ant-statistic-content-suffix {
    font-size: 14px;
}