.under_construction-container {
    margin-top: -80px;
    height: 96vh;
    font-family: Helvetica;
    color: black;

    .header_area {
        background-color: rgb(42, 123, 190);
        background-size: 100%;
        color: white;
        height: 400px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 80px;

        h2 {
            font-weight: bolder;
            margin-top: 0px;
        }

        .top-buttons {
            display: flex;
            justify-content: space-between;
            padding-top: 120px;

            button {
                color: white;
                font-family: Helvetica;
                font-size: 12pt;
                background: rgba(255, 255, 255, 0.05);
                border: none;
                border-radius: 50px;
                padding: 15px 35px;
                margin-top: 7.8%;
                cursor: pointer;
            }
        }
    }

    .logo {
        width: 90px;
    }
}

.info-area {
    text-align: center;

    h2 {
        font-weight: bolder;
        margin-top: 120px;
        color: black;
    }
}

.footer-bottom {
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 0;
}