@import "../../App/style.scss";

.manage-list-container {

    .tags-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ant-tag {
        margin: 4px;
    }

    .ant-pagination {
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    .ant-modal-body {
        padding: 24px 0px;
        overflow-y: hidden;

    }

    .ant-modal-footer {
        display: flex;
        justify-content: end;
    }

    .event-details .event-header {
        height: 242px;
        min-width: 100%;
        width: min-content;
        padding: 28px calc((80vw - 1198px) / 2);
    }

    .blog-details {
        min-width: 100%;
        width: min-content;
    }

    .location-affix {
        .ant-affix {
            position: absolute !important;
            top: 380px !important;
        }
    }


    .fixed-buttons-container {
        position: fixed !important;
        top: 180px !important;
        right: calc(10vw + 20px) !important;
    }


}