.dashboard-container {
  height: 92vh;
  width: 100%;
  padding-left: 8px;
  display: flex;
  overflow-y: hidden;
}

.column-divider {
  height: 100%;
  margin-top: 12px;
  width: 1px;
  color: #e4dcff;
  border-left: 1px solid #ecebf1;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.icon {
  min-height: 12px;
  min-width: auto;
  max-height: 16px;
  max-width: auto;
  padding: 0 8px 0 0;
  cursor: pointer;
}