.dashboard-container {
  background-color: rgba(255, 236, 254, 0.8);
  height: 100%;
  display: flex;
  background-image: url('../../assets/icons/JobHax-logo-white.svg');
  background-size: 1.3%;
  
}