@import "../App/style.scss";

$multipleContainerAnimationTransitionDuration: .5s;
$multipleContainerAnimationFromZeroScale: 1.6;

.dashboard-container {
  height: calc(100%);
  width: 100%;
  padding-left: 8px;
  display: flex;
  overflow-y: hidden;

  &.--demo-height {
    height: calc(100%);
  }
}

.icon {
  min-height: 12px;
  min-width: auto;
  max-height: 16px;
  max-width: auto;
  padding: 0 8px 0 0;
  cursor: pointer;
}

.multiple-operation-container {
  transition: transform $multipleContainerAnimationTransitionDuration;
  -webkit-transition: transform $multipleContainerAnimationTransitionDuration;
  -moz-transition: transform $multipleContainerAnimationTransitionDuration;
  -o-transition: transform $multipleContainerAnimationTransitionDuration;
  -ms-transition: transform $multipleContainerAnimationTransitionDuration;

  &.--animation-from-zoom {
    transform: scale($multipleContainerAnimationFromZeroScale);
    -webkit-transform: scale($multipleContainerAnimationFromZeroScale);
    -moz-transform: scale($multipleContainerAnimationFromZeroScale);
    -o-transform: scale($multipleContainerAnimationFromZeroScale);
    -ms-transform: scale($multipleContainerAnimationFromZeroScale);
  }
}