@import "../App/style.scss";

.blog-page-container {
    color: $text_color;
    background-color: white;
    min-height: 92vh;
    overflow-y: hidden;

    .blog-page-main-container {
        display: flex;
        justify-content: center;
        min-width: 1280px;
        min-height: 89vh;
        padding: 40px 40px 0 40px;

        .featured-blog {
            width: 480px;
            height: 520px;
            margin: 20px 80px 0 0;
            background-color: white;

            .header-photo {
                width: 480px;
                height: 300px;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    left: -100%;
                    right: -100%;
                    top: -100%;
                    bottom: -100%;
                }
            }

            .blog-card-left {
                height: 240px;
                width: 480px;
                overflow: hidden;

                .blog-name {
                    margin: 12px 0 0 0;
                    font-size: 130%;
                    font-weight: bold;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .blog-card-info {
                    font-size: 95%;
                    margin-top: 8px;
                    color: rgba(0, 0, 0, 0.6);
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .blog-card-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 16px 0 0 0;

                    .blog-author {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 12px 0 0 0;

                        .blog-author-avatar {
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                            margin: 0 8px 0 0;
                            overflow: hidden;
                            position: relative;

                            img {
                                position: absolute;
                                margin: auto;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                left: -100%;
                                right: -100%;
                                top: -100%;
                                bottom: -100%;
                            }
                        }

                        .name {
                            font-weight: 500;
                        }

                        .info-container {
                            color: rgba(0, 0, 0, 0.4);
                            font-size: 90%;
                            display: flex;
                            justify-content: flex-start;

                            .info {
                                margin: 0 12px 0 0;
                            }
                        }
                    }

                }
            }
        }

        .blog-container {
            display: flex;
            justify-content: center;
            height: fit-content;
            height: -moz-fit-content;


        }

        @media only screen and (max-device-width : 800px) and (-webkit-min-device-pixel-ratio : 2) {
            flex-direction: column;
            min-width: 100%;
            padding: 0 10px;

            .featured-blog {
                width: 100%;
                height: fit-content;

                .header-photo {
                    width: 100%;
                }

                .blog-card-left {
                    width: 100%;
                    height: auto;
                }
            }

            .blog-container {
                margin: 24px 0px;
            }
        }
    }
}

.blog-details {

    .blog-header {
        padding: 60px 28px 28px 28px;
        display: flex;
        justify-content: center;

        .blog-datebox {
            height: 60px;
            width: 60px;
            min-height: 60px;
            min-width: 60px;
            margin: 8px 28px 0 -60px;
            border-radius: 4px;
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
            background-color: white;
            position: relative;
            overflow: hidden;
            text-align: center;

            .month {
                color: black;
                font-weight: lighter;
                font-size: 100%;
            }

            .day {
                color: red;
                font-size: 160%;
                font-weight: 600;
            }
        }

        .blog-info {
            width: 668px;

            .blog-date {
                color: gray;
                font-size: 120%;
            }

            .title {
                color: $text_color;
                font-size: 220%;
                font-weight: bolder;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .snippet {
                color: gray;
                font-size: 110%;
                margin: 0 0 8px 0;
            }

            .author-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .author-photo {
                    width: 48px;
                    height: 48px;
                    border-radius: 24px;
                    margin: 0 4px 0 0;
                    overflow: hidden;
                    position: relative;

                    img {
                        position: absolute;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        left: -100%;
                        right: -100%;
                        top: -100%;
                        bottom: -100%;
                    }
                }

                .author-details {
                    display: flex;
                    align-items: center;
                    height: 48px;

                    .name {
                        display: flex;
                        color: gray;

                        .author-name {
                            font-weight: 600;
                            margin: 0 0 0 4px;
                        }
                    }

                    .details-container {
                        color: rgba(0, 0, 0, 0.4);
                        font-size: 90%;
                    }
                }
            }

            .info-container {
                color: rgba(0, 0, 0, 0.4);
                margin: 0 0 12px 0;
                font-size: 90%;
                display: flex;
                justify-content: flex-start;

                .info {
                    margin: 0 12px 0 0;
                }
            }
        }
    }

    .blog-body {
        display: flex;
        justify-content: center;
        padding: 28px 28px 0 28px;
        margin: 0 0 60px 0;
        width: 100%;
        overflow-y: hidden;

        .blog-data {
            width: 668px;
            margin: 0 60px 0 60px;

            .blog-photo {
                width: 1068px;
                height: 440px;
                margin: 0 0 0 -200px;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    left: -100%;
                    right: -100%;
                    top: -100%;
                    bottom: -100%;
                }
            }

            .details-container {
                margin: 28px 0 16px 0;

                .title {
                    font-size: 120%;
                    font-weight: 550;
                    margin: 0 0 16px 0;
                    color: $text_color;
                }

                .details {}
            }

            .engagement {
                margin: 28px 0 40px 0;
                color: gray;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                display: flex;
                justify-content: space-between;

                .engagement-container {
                    display: flex;
                    justify-content: flex-start;
                    margin: 16px 0 16px 0;

                    .button {
                        margin: 0 24px 0 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .engagement-amount {
                            margin: 0 0 0 4px;
                        }
                    }
                }

                .ant-btn {
                    padding: 0px;
                }

                .share-container {
                    width: 300px;
                    padding: 16px 4px 16px 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
    }

    @media only screen and (max-device-width : 800px) and (-webkit-min-device-pixel-ratio : 2) {
        width: 100%;
        overflow: hidden;

        .blog-header {
            .blog-datebox {
                display: none;
            }

            .blog-info {
                width: 100%;
            }
        }

        .blog-body {
            overflow: unset;

            .blog-data {
                width: 100%;

                .blog-photo {
                    width: 100vw;
                    margin: 0 0 0 -28px;
                    overflow-y: hidden;
                }
            }

            .engagement {
                .share-container {
                    width: 30% !important;
                }
            }
        }
    }
}

.toolbar {

    .rdw-link-modal {
        min-height: 240px;
    }

    .rdw-embedded-modal-header {
        font-size: 14px;
        height: fit-content;
    }

    .rdw-image-modal {
        min-width: 240px;
        padding: 15px 30px 15px 15px;
    }

    a {
        color: $text_color;
    }
}

.editor {
    min-height: 440px;
    border: 1px solid $line_color;
}

.blog-card-container {
    min-height: 184px;
    max-height: 184px;
    background-color: white;
    width: 680px;
    padding: 12px;
    margin: 8px;

    .blog-card-initial {
        display: flex;
        justify-content: space-around;

        .blog-card-left {
            height: 160px;
            width: 480px;
            margin-right: 48px;
            overflow: hidden;

            .blog-name {
                font-size: 130%;
                font-weight: bold;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .blog-author {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 12px 0 0 0;

                .blog-author-avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    margin: 0 8px 0 0;
                    overflow: hidden;
                    position: relative;

                    img {
                        position: absolute;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        left: -100%;
                        right: -100%;
                        top: -100%;
                        bottom: -100%;
                    }
                }

                .name {
                    font-weight: 500;
                }

                .info-container {
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 90%;
                    display: flex;
                    justify-content: flex-start;

                    .info {
                        margin: 0 12px 0 0;
                    }
                }
            }

            .blog-card-info {
                font-size: 95%;
                margin-top: 8px;
                color: rgba(0, 0, 0, 0.6);
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .blog-stats-container {
                display: flex;
                justify-content: space-between;
                margin-top: 32px;


                .details-button {
                    cursor: pointer
                }

                .blog-stats {
                    display: flex;
                    justify-content: center;
                    cursor: pointer;

                    .stat {
                        margin-right: 4px
                    }
                }

            }
        }

        .blog-card-right {
            width: 160px;
            height: 160px;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                margin: auto;
                width: 100%;
                height: 100%;
                object-fit: cover;
                left: -100%;
                right: -100%;
                top: -100%;
                bottom: -100%;
            }

        }
    }
}

.blog-card-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.2) !important;
}

.fixed-buttons-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    padding: 16px;
    background-color: white;
    top: 80px;
    right: 20px;
    border-radius: 4px;
    z-index: 199;
    box-shadow: 1px 1px 5px 1px #efefef;

    .share-with-checkbox-area {
        .checkbox-container {
            display: flex;
            justify-content: space-around;
        }
    }

    .save-buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
        width: -moz-fit-content;
        margin-top: 12px;
    }

    .ant-btn[disabled] {
        background-color: $line_color;
        border: 1px solid rgba(0, 0, 0, 0.05) !important;
    }
}

@media only screen and (max-device-width : 800px) and (-webkit-min-device-pixel-ratio : 2) {
    .blog-card-container {
        min-height: fit-content;
        height: fit-content;
        max-height: fit-content;
        width: 100%;

        .blog-card-initial {
            .blog-card-left {
                margin: 0px;
                height: fit-content;
                width: 60%;
            }
        }
    }
}