.login-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 80px;
    left: 0;
    width: 352px;
    height: 288px;
    background-color: rgb(228, 220, 255);
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(190, 190, 190, 0.5);
    text-align: center;

    .content-container {
        padding:4px;
    }

    .form-container {
        margin:8px;
        text-align: start;
        margin-left: 32px;
        font-weight: bold;

        .form-element-container {
            display: flex;
            justify-content: space-between;
            height: 32px;
            width: 270px;

            .input-box {
                border: none;
                height: 20px;
                width: 170px;
                border-radius: 4px;
                font-family: Exo; 
                font-size: 12pt;
                color: rgb(38, 18, 104);
            }
        }
    }

    .social-buttons-container {
        padding:16px;
    }

    .social-buttons {
        background-color: rgb(221, 170, 255);
        margin: 4px;
        box-shadow: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 300px;
        height: 32px;
        font-family: Exo; 
        color: rgb(38, 18, 104);
        font-size: 12pt;
    }
}

.bottom-fixed-footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
}