.metrics_feature_area {
    background-color: white;
    color: #261268;
    padding-top: 32px;
    min-height: 600px;
    height: auto;

    .title {
        text-align: center;
        margin-bottom: 25px;

        h2 {
            font-size: 24pt;
            margin-bottom: 24px;
            color: #261268;
        }
    }

    .features {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        margin-right: 30px;
        overflow-y: hidden;

        .feature {
            margin: 2.08%;
            background: white;
            border-radius: 20px;
            padding: 30px;
            padding-top: 50px;
            min-width: 100px;
            width: 300px;
            flex-grow: 1;
            text-align: center;

            img {
                width: 60%;
                max-width: 180px;
            }

            h4 {
                padding-top: 16px;
                padding-bottom: 4px;
                max-width: 380px;
                margin: auto;
                color: #261268;
            }

            p {
                max-width: 380px;
                margin: auto;
                color: #261268;
            }

            a {
                color: #261268;
                text-decoration: none;
                ;
            }
        }
    }
}

.metric-big-group {
    width: 100%;
    overflow-y: hidden;
    padding: 8px 110px 100px 110px;

    .metric-group {
        display: flex;
        justify-content: center;

        .metric-summary-container {
            height: 180px;
            width: 272px;
            overflow: hidden;
            border: 1px solid #261268;
            margin: 0px 5px 0px 5px;


            .metric-summary {
                margin: -40px 0px 0px 0px;
                height: 220px;
                width: 272px;
                background-color: white;
            }
        }

        .metric-detailed-container {
            margin: 8px 11px 0 11px;
            height: 500px;
            width: 260px;
            border: 1px solid #261268;
            background-color: white;
            border-radius: 8px;


            .metric {
                height: 500px;
                width: 260px;

                .list-container {
                    overflow: hidden;
                    width: 260px;

                    .list {
                        width: 260px;
                        height: 248px;
                        padding: 0 16px 0 0;
                        margin: 4px 0px 0px 20px;
                        overflow-x: hidden;
                    }
                }

            }
        }


    }
}

.university-metrics-header-container {
    display: flex;
    justify-content: center;
    margin-top: -40px;

    .university-metrics-header {
        margin: 0px 20px 20px 20px;
        font-size: 110%;
        font-weight: 500;
    }

    .header-line {
        margin: 10px 0 0 0;
        width: 460px;
        height: 1px;
        background-color: #261268;
    }
}

.graph-container-light-background {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    overflow-y: hidden;

    .graph-dark {
        margin-top: 100px;
        height: 500px;
        width: 800px;
        background-color: rgb(92, 39, 195);
        border-radius: 20px;
    }
}

.positions-stages-graph-xAxis-name-container {
    display: flex;
    justify-content: center;

    .positions-stages-graph-xAxis-name {
        margin-top: -44px;
        position: absolute;
        font-size: 90%;
    }
}

.selection-menu-container {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    height: 40px;
    max-height: 60px;

    .selection-menu {
        display: flex;
        justify-content: center;
        position: absolute;
        width: fit-content;
        color: #261268;
        height: 50px;

        .dropdown-menu {
            margin: 4px;
            padding: 8px;
            background-color: white;
            cursor: pointer;

            img {
                background-color: transparent;
                margin-left: 4px;
                margin-top: 8px;
                height: 4px;
                width: auto;
            }
        }
    }

    .filter-indicator {
        color: white;
        font-weight: 500;
        margin: 12px;
    }
}