@import "../../../../../../../App/style.scss";

.review-form-container {
    width: 500px;

    .review-form {
        display: flex;
        justify-content: space-between;

        .review-header {
            font-weight: bolder;
            padding-bottom: 8px;
            padding-right: 12px;
        }

        .label {
            font-weight: 450;
            margin-top: 8px;
            padding-right: 12px;
        }

        .text-box {
            font-family: exo;
            font-size: 90%;
            height: 60px;
            max-width: 212px;
            max-height: 250px;
            min-width: 212px;
            min-height: 50px;
            border: 1px solid $border_color;
            border-radius: 4px;
            padding: 8px;

            &.interview-experience {
                height: 200px;
            }
        }

        .company-reviews {
            width: 220px;

            .employment-authorization {
                width: 200px;

                .employment-authorization-item {
                    margin-top: 4px;
                    display: flex;
                    justify-content: space-between;
                }
            }

        }

        .interview-reviews {
            width: 220px;

        }

        .review-button-container {
            display: flex;
            justify-content: flex-end;
            padding: 12px 8px 0 0;
        }
    }
}

.ant-statistic-content {
    font-size: 14px;
    width: 80px;
    margin: 0px 8px 0px -12px;
}

.ant-statistic-content-value-decimal {
    font-size: 12px;
}

.ant-statistic-content-suffix {
    font-size: 14px;
}