@import "../../App/style.scss";

.header-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  color: $text_color;
  background-color: white;
  z-index: 21;

  .left-container {
    display: flex;
  }

  .right-container {
    display: flex;

    &.out {
      width: 140px;
      justify-content: space-between;
      margin: 20px 80px;
      font-size: 18px;
      font-weight: lighter;
    }

    .option {
      cursor: pointer;
      transition: color .3s;
      -webkit-transition: color .3s;
      -moz-transition: color .3s;
      -o-transition: color .3s;
      -ms-transition: color .3s;

    }

    .option:hover {
      color: $active_color;
    }
  }

  .header-icon {
    width: 30px;
    opacity: 1;
    cursor: pointer;

    &.general {
      margin: 20px;
    }

    &.menu-icon {
      margin: 6px 0 16px 0;
      width: 24px;
      overflow: hidden;
      position: relative;
      min-width: 24px;
      min-height: 36px;
      max-width: 24px;
      max-height: 36px;

      img {
        height: 20px;
        width: auto;
      }
    }

    &.user-icon {
      margin-top: 12px;
      margin-bottom: 10px;
      margin-right: 40px;
      min-width: 36px;
      min-height: 36px;
      max-width: 36px;
      max-height: 36px;
      border-radius: 18px;
      overflow: hidden;
      position: relative;


      img {
        position: absolute;
        margin: auto;
        min-width: 36px;
        min-height: 36px;
        max-width: auto;
        max-height: auto;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        border-radius: 18px;
      }
    }

    img {
      height: 20px;
      width: auto;
    }
  }


  .jobhax-logo-container {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;

    .jobhax-logo {
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-image: url('../../../assets/icons/JobHax-logo-black.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      transition: transform .3s;
      -webkit-transition: transform .3s;
      -moz-transition: transform .3s;
      -o-transition: transform .3s;
      -ms-transition: transform .3s;
    }

    .jobhax-logo:hover {
      z-index: 51;
      transform: scale(1.2) rotate(360deg);
      -webkit-transform: scale(1.2) rotate(360deg);
      -moz-transform: scale(1.2) rotate(360deg);
      -o-transform: scale(1.2) rotate(360deg);
      -ms-transform: scale(1.2) rotate(360deg);
    }
  }
}

.header-height {
  height: 60px;
}

.ant-menu-horizontal>.ant-menu-submenu-selected {
  border-bottom: 2px solid $base_color;
}

.ant-menu-horizontal>.ant-menu-submenu:hover {
  border-bottom: 2px solid $base_color;
}

.ant-menu-horizontal>.ant-menu-submenu {
  vertical-align: top;
  max-height: 52px;
}

.ant-menu-horizontal>.ant-menu-submenu-selected {
  max-height: 52px;
}