.header-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-image: linear-gradient(to right, #bc2bff, #8a3ffc);
  z-index: 2000;

  .left-container {
    display: flex;
  }

  .right-container {
    display: flex;
  }

  .header-icon {
    width: 30px;
    opacity: 1;
    cursor: pointer;

    &.general {
      margin: 20px;
    }

    &.menu-icon {
      margin: 6px 0 16px 0;
      width: 24px;
      overflow: hidden;
      position: relative;
      min-width: 24px;
      min-height: 36px;
      max-width: 24px;
      max-height: 36px;

      img {
        height: 20px;
        width: auto;
      }
    }

    &.user-icon {
      margin-top: 15px;
      margin-bottom: 10px;
      margin-right: 40px;
      min-width: 30px;
      min-height: 30px;
      max-width: 30px;
      max-height: 30px;
      border-radius: 15px;
      overflow: hidden;
      position: relative;


      img {
        position: absolute;
        margin: auto;
        min-width: 30px;
        min-height: 30px;
        max-width: auto;
        max-height: auto;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        border-radius: 15px;
      }
    }

    img {
      height: 16px;
      width: auto;
    }
  }

  .svg_ics {
    fill: white;
  }


  .header-icon.tooltips {
    position: relative;
    display: inline;

    span {
      position: absolute;
      width: 140px;
      color: #FFF;
      background: #525252;
      height: 30px;
      line-height: 30px;
      text-align: center;
      visibility: hidden;
      border-radius: 6px;

      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -14px;
        width: 0;
        height: 0;
        border-bottom: 8px solid #525252;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
    }
  }

  .header-icon {
    &:hover.tooltips {
      span {
        visibility: visible;
        opacity: 0.7;
        top: 40px;
        left: 50%;
        margin-left: -66px;
        z-index: 1001;
      }
    }
  }

  .jobhax-logo-container {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;

    .jobhax-logo {
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-image: url('../../../assets/icons/JobHax-logo-white.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}