.feedback-container {
    color: black;
    position: fixed;
    z-index: 2100;

    .feedback-open-button {
        position: fixed;
        bottom: 16px;
        right: 16px;
        background-color: #595959;
        border-style: double;
        color: white;
        height: 48px;
        width: 48px;
        border-radius: 24px;
        z-index: 2100;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            height: 24px;
            width: auto;
        }
    }

    .question {

        .question-label {
            margin-top: 16px;
        }

        .text-box {
            font-family: exo;
            font-size: 90%;
            height: 160px;
            max-width: 256px;
            max-height: 200px;
            min-width: 256px;
            min-height: 120px;
            border: 1px solid rgba(132, 100, 239, 1);
            border-radius: 4px;
            padding: 8px;
        }
    }


}